<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="/static/css/fonts.css"
    />
    <title>{{title}}</title>
    {% if description %}
    <meta name="description" content="{{description}}" />
    {% endif %} {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    {% if prism == true %}
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/prism-tomorrow.css"
    />
    {% endif %}
  </head>
  <body>
    {% include "./partials/navbar.html" %} {{ content | safe }} {% include
    "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>
    <script
            src="https://www.paypal.com/sdk/js?client-id={{settings.paypalClientId}}&currency=USD"
            data-sdk-integration-source="button-factory"
    ></script>
    {% if path == "home" %}
    <!-- Netlify Identity Widget -->
    <!-- Needed only if you are using Netlify Identity feature -->
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    {% endif %}
  </body>
</html>
